.contact {
    margin: 3rem auto;
    width: 90%;
    max-width: 50rem;
    text-align: center;
  }

  .contact h2 {
    margin: 1rem;
  }
  .contact hr {
    margin: 1rem;
    border: dotted 0.35rem;
    border-bottom: none;
    width: 90%;
  }
  
  .contact a {
    color: var(--foreground);
    font-size: 1rem;
    margin: 1rem;
  }
  
  .contact a:hover,
  .contact a:active,
  .contact a.active {
    opacity: 60%;
  }
  
