.article {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--size-6);
  inline-size: 100%;
  max-inline-size: 90rem;
  margin-inline: auto;
  padding-inline: var(--size-4);
  padding-block-end: var(--size-4);
  list-style: none;
}

@media (min-width: 768px) {
  .article {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--size-8);
    padding-inline: var(--size-6);
  }
}

@media (min-width: 1024px) {
  .article {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--size-12);
  }
}
