.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(209, 208, 208, 0.465);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .header {

    margin: 1rem;
  }
  .header p {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .15rem;
    
  }
  
  .header h2 {
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header p {
    font-size: 0.75rem;
    font-style: italic;
  }
  
  .headerText {
    padding: 0 1rem 1rem 1rem;
  }
  
  .image {
    position: relative;
    height: 15rem;
    margin:  1rem;
    
  }
  
  .article img {
    object-fit: cover;
  }

  .article p {
    color: rgb(var(--muted-text-rgb));

  }
  

  .summary {
    padding: 0rem 1rem 0 1rem;
  }
  
  .actions {
    padding: 1rem;
    text-align: right;
  }
  
  .actions a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    /* color: var(--link); */
    font-weight: bold;
    text-decoration: none;
  }
  
  .actions a:hover,
  .actions a:active {
    opacity: 65%;
  }

  .article hr {
    border: dotted 0.35rem;
    border-bottom: none;
    width: 90%;
    margin: 1rem auto;
  }