.header {
  display: flex;
  flex-direction: column; 
  margin: 2rem auto;
  max-width: 30rem;
  border-radius: 4px;
  overflow: hidden;
  }

  
  .image {
    position: relative;
    width: 100%; 
    height: 20rem; 
    margin: 0 auto;
  }
  
  .header img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    animation: fade-slide-in-from-left 1s ease-out forwards;
  }
  
  .headerText {
    padding: 0.5rem 1rem 0 1rem;
    color: var(--foreground);
    max-width: 40rem;
    animation: fade-slide-in-from-right 1s ease-out forwards;
  }
  
  .headerText h1 {
    margin: 0;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 0.3rem rgba(var(--blur-rgb), 0.2);
  }
  
  .summary {
    font-size: 1.5rem;
  }

  .info {
    padding: 0.5rem 1rem 0 1rem;
    letter-spacing: 0.10rem;
  }
  
  .info p {
    margin: 0;
    font-size: 0.75rem;
    color: rgb(177, 177, 177);
    
  }
  
  .description {
    font-size: 0.75rem;
    padding: 1rem;
    max-width: 60rem;
  
  }
  
  .description ul {
    list-style: none;
    text-align: center;
    margin: 1;
    padding: 0;
  }
  
  .description li {
    text-transform: uppercase;
  }
  
  .description h2 {
    margin-bottom: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .5rem;
  }
  
  .description h3 {
    margin: .5rem;
    margin: .5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .description h4 {
    margin: .5rem;
    margin: .5rem;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .description a {
    background: var(--link); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.15rem;
    text-decoration: none;
  }
  
  .description a:hover,
  .description a:active,
  .description a.active {
  opacity: 50%;
  }
  
  .description p {
    margin: .5rem;
    font-size: 0.75rem;
  }
  
  .description em, 
  .description i {
        font-family: "Fira Code", monospace;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
  }
  
  .description hr {
    border: dotted var(--color-grey-500) .25rem;
    border-bottom: none;
    width: 75%;
    margin: 1rem auto;
  }
  
  .loading {
    font-size: 3rem;
    text-align: center;
    color: var(--color-abbgrey-900);
    font-weight: bold;
    animation: flash 1s ease-in-out infinite alternate;
  }
  
  @keyframes fade-slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fade-slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fade-slide-in-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes flash {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  